


/* .bg-gradient-image {
  background: linear-gradient(to right, rgba(99,46,227,1), rgba(159,98,242,1)), 
              url('/vector1.png');
  background-size: cover;
  background-position: center;
} */